header{
    text-align: center;
    background-color: rgb(151, 217, 243);
}
header img{
    width: 400px;
    padding: 20px;
}
header h3{
    padding: 0 0 5px;
    font-size: 17px;
}
header a{
    color: white;
}
span a:hover{
    background-color: white;
    color: lightpink;
}
html{
    font-family: 'Lato', sans-serif;
}
p.intro{
    text-align: center;
}
div{
    text-align: center;
    word-wrap: break-word;
}
p.quote{
    font-family: 'Anton', sans-serif;
    text-align: right;
    float: right;
    font-size: 30px;
    width: 600px;
    color: lightpink;
    padding: 0 20px;
}
p.speaker{
    float: right;
}
main img.selfie{
    float: right;
    width: 350px;
}
main img.iondis{
    width: 400px;
}
img.campaign-gif{
    text-align: center;
    padding: 10px 0;
}
p.stationdifficulties{
    display: flex;
    align-items: center;
}
footer img{
    width: 75px;
    padding: 10px 0;
}
html, body {
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  .content {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
    background-color: rgb(248, 210, 215);
    text-align: center;
  }
  .dropbtn {
      background-color: lightpink;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      cursor: pointer;
  }
  .dropbtn:hover, dropbtn:focus {
      background-color: lightskyblue;
  }
  .dropdown {
      position: relative;
      display: inline-block;
  }
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
  .dropdown-content a:hover {background-color: #ddd;}
  .show {display:block;}
  .dropdown:hover .dropdown-content {
    display: block;
  }