header{
    text-align: center;
    background-color: rgb(151, 217, 243);
}
header img{
    width: 400px;
    padding: 20px;
}
header h3{
    padding: 0 0 5px;
}
header a{
    color: white;
}
html{
    font-family: 'Lato', sans-serif;
}
p.intro{
    text-align: center;
}