header{
    text-align: center;
    background-color: rgb(151, 217, 243);
}
header img{
    width: 400px;
    padding: 20px;
}
header h3{
    padding: 0 0 5px;
    font-size: 17px;
}
header a{
    color: white;
}
span a:hover{
    background-color: white;
    color: lightpink;
}
html{
    font-family: 'Lato', sans-serif;
}
p.intro{
    text-align: center;
}
div{
    text-align: center;
    word-wrap: break-word;
}
p.quote{
    font-family: 'Anton', sans-serif;
    text-align: right;
    float: right;
    font-size: 30px;
    width: 600px;
    color: lightpink;
    padding: 0 20px;
}
main img{
    float: right;
    width: 350px;
}
footer{
    position: fixed;
    bottom: 0;
}
footer img{
    width: 75px;
    padding: 10px 0;
}